name: Build and Push to GHCR

on:
  push:
    branches: [ "main" ] # ทำงานเมื่อ push ลง branch main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }} # จะได้เป็นชื่อ username/repo-name

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # ใช้ Token อัตโนมัติของ GitHub

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/patiphan-pluem/edge-app:v5
            ghcr.io/patiphan-pluem/edge-app:${{ github.sha }}